html, body, h1, h3, h4, p, ol, ul, li, a, div, span, button, input[type='button'] {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  list-style: none;
}

:focus {
  outline: 0;
}

body {
  padding-top: 80px;
  font-family: monospace, sans-serif;
  background-image: url('http://study.com/cimages/course-image/nursing-101-fundamentals-of-nursing_116114_large.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;  
}

.title{
  text-align: center;
  -webkit-text-stroke: 1px 28a4f4;
  text-shadow:
  1px 1px 0 #28a4f4,
  -1px -1px 0 #28a4f4,  
  1px -1px 0 #28a4f4, 
  -1px 1px 0 #28a4f4,
  1px 1px 0 #28a4f4;
  font-size: 48px;
}

h1 {
  margin: 0 auto;
  font-size: 32px;
  z-index: 2;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

input#main{
  width: 80%;
  display: block;
  line-height: 1.5;
  font-size: 23px;
  margin: 30px auto;
  border: 0;
  outline: none;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 10px 0px 10px 25px;
  z-index: 2;
}

#content {
  width: 80%;
  margin: 0 auto;
}

.glossaryBlock{
  display:block;
  width:80%;
  margin: auto;

}

.glossaryTitle{
  margin: auto;
  display:block;
  width:80%;
  text-align:center;
  font-size: 30;
  color: lightgrey;
  -webkit-text-stroke: 1px 28a4f4;
   text-shadow:
       1px 1px 0 #28a4f4,
     -1px -1px 0 #28a4f4,  
      1px -1px 0 #28a4f4,
      -1px 1px 0 #28a4f4,
       1px 1px 0 #28a4f4;
}
.glossary{
  display:block;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 5px;
  width:100%;
  border-radius: 5px;
  border-color: 28a4f4;
  background-color: lightgrey;
  display: inline-block;
}

.run {
  display: inline-block;
  margin: 10px 0px 20px 0px;
  background-color: lightgrey;
  border-radius: 5px;
}

.room {
  font-size: 24px;
  display: inline-block;
  padding: 3px 10px 3px 10px;
}

.container-mul {
  width: 80%;
  margin: 10px auto;
  display: flex;
}

.container {
  width: 80%;
  margin: 10px auto;
}

.nurse {
  margin: 10px 0px 10px 0px;
  background-color: lightgrey;
  border-radius: 5px;
}

.name {
  font-size: 32px;
  margin-left: 10px;
  -webkit-text-stroke: 1px 28a4f4;
  text-shadow:
  1px 1px 0 #28a4f4,
  -1px -1px 0 #28a4f4,  
  1px -1px 0 #28a4f4, 
  -1px 1px 0 #28a4f4,
  1px 1px 0 #28a4f4;
}

.container-2col {
  width: 50%;
  display: inline-block;
  margin: 0 auto;
}

#census {
  font-size: 36px;
}

.hide {
  display: none;
}
